<div class="wrapper row">
  <div class="col-xs-8 col-sm-8 col-md-8 photo-area">
    <button ng-if="vm.pro_image.length > 0" ng-click="vm.clearAll()">Start Over !</button>

    <br />
    <span class="pro-text">Select your Profile Pic </span>
    <br />
    <input type="file" title="Select image from here" ng-model="vm.pro_image" accept="image/*" file-reader />
    <br />
    <div ng-if="!vm.profileLoaded(vm.pro_image)" class="image_wrapper" drop-space>
      <img id="profileImage" ng-src="{{vm.pro_image}}" onerror="this.style.display='none'" onload="this.style.display='block'" />
    </div>
    <br />

  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 sticker-section">
    <a href="#openStickerDialog"><button class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 stickerButton">Upload New Sticker</button></a>
    <div class="sticker-area class="col-xs-12 col-sm-12 col-md-12"">
      <div class="stickerList" ng-repeat="stickers in vm.stickersArray">
        <div class="imageBox">
        <img id="dragSticker" class="sticker" ng-src="{{stickers.sticker}}" draggable-object />
        <span>{{stickers.title}}</span>
        <input class="delete" type="button" ng-click="vm.removeSticker($index)" value="Delete" />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="openStickerDialog" class="add-sticker">
  <div> <a href="#close" title="Close" class="close">X</a>
    <input type="text" name="title" ng-model="vm.stickerTitle" placeholder="Title"><br>
    <input class="stickerInput" ng-init="vm.stickersArray = null" type="file" ng-model="vm.sticker" accept="image/*" file-reader>
    <a href="#close" ><button id="submit" ng-click="vm.addSticker()">Submit</button></a>
  </div>
</div>
